body {
    text-align: center;
    padding-top: 300px;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    font-weight: bold;
    background-color: black;
}

button {
    border-radius: 5px;
    background-color: transparent;
    border: 3px solid white;
    color: black;
}

button:hover{
    text-decoration: none;
    border: 5px solid black;
    opacity: 0.5;
}

/*home*/
#home {
    background: url('../img/main.jpg'); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    height: 1000px;
    padding: 300px;
    margin-top: -300px;
}

/*plot*/
#plot {
    background: url('../img/plot.jpg'); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    height: 1000px;
    padding: 300px;
    margin-top: -300px; 
}

/*ganondorf*/
#ganondorf {
    background: url('../img/Ganondorf.jpg'); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat; 
    height: 1000px;
    padding: 300px;
    margin-top: -300px;
}

/*fight*/
#fight {
    background: url('../img/fight.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat; 
    height: 1000px;
    padding: 300px;
    margin-top: -300px;
}

/*lose*/
#lose {
    background: url('../img/end.jpeg'); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat; 
    height: 1000px;
    padding: 300px;
    margin-top: -300px;
}

/*win*/
#win {
    background: url('../img/end.jpeg'); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat; 
    height: 1000px;
    padding: 300px;
    margin-top: -300px;
}