<div id='fight'>
    <div class= 'container'>
        <h1> Defeat Ganondorf to save Zelda! </h1>

        <div id= 'pics'>
            <img id = 'linkatt' src ='../img/Attack2.png'/>
            <img  id = 'ganonatt' src ='../img/Ganon1.png'/>
         </div>

        <div class="row">
            <div class="col-md-6">
                <p> <span id = 'linklf'>Link's life: 100</span></p>
            </div>
            <div class="col-md-6">
                <p><span id = 'ganonlf'>Ganondorf's life: 100</span></p>  
            </div>
        </div>
     

        <button onclick="userPick()"><span id='demo'>ATTACK</span></button>

    </div>
</div>